/PC_control/FastPlanting/UI_SerialDialog.pyc
/PC_control/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/core/imp2.pyc
/PC_control/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/__init__.pyc
/PC_control/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/pub.pyc
/PC_control/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/sphinx.pyc
/PC_control/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/utils.pyc
/PC_control/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/utils/intraimport.pyc
/PC_control/FastPlanting/dist/wxbase294u_net_vc90_x64.dll
/PC_control/FastPlanting/dist/wxbase294u_vc90_x64.dll
/PC_control/FastPlanting/dist/wxbase294u_xml_vc90_x64.dll
/PC_control/FastPlanting/dist/wxmsw294u_adv_vc90_x64.dll
/PC_control/FastPlanting/dist/wxmsw294u_core_vc90_x64.dll
/PC_control/FastPlanting/dist/wxmsw294u_html_vc90_x64.dll
/PC_control/FastPlanting/dist/wxmsw294u_xrc_vc90_x64.dll

/PC_control/FastPlanting/.idea
/PC_control/FastPlanting/RecordDB.db
