/Raspi/FastPlanting/UI_SerialDialog.pyc
/Raspi/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/core/imp2.pyc
/Raspi/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/__init__.pyc
/Raspi/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/pub.pyc
/Raspi/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/sphinx.pyc
/Raspi/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/pubsub1/utils.pyc
/Raspi/FastPlanting/build/bdist.win-amd64/winexe/collect-2.7/wx/lib/pubsub/utils/intraimport.pyc
/Raspi/FastPlanting/dist/wxbase294u_net_vc90_x64.dll
/Raspi/FastPlanting/dist/wxbase294u_vc90_x64.dll
/Raspi/FastPlanting/dist/wxbase294u_xml_vc90_x64.dll
/Raspi/FastPlanting/dist/wxmsw294u_adv_vc90_x64.dll
/Raspi/FastPlanting/dist/wxmsw294u_core_vc90_x64.dll
/Raspi/FastPlanting/dist/wxmsw294u_html_vc90_x64.dll
/Raspi/FastPlanting/dist/wxmsw294u_xrc_vc90_x64.dll

/Raspi/FastPlanting/.idea
/Raspi/FastPlanting/*.db
*.pyc
/Raspi/FastPlanting/*.pyc
